main.open{
    filter: brightness(60%);
    backdrop-filter: brightness(60%);
}

.menu-burger{
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    top: 162px;
    left: 20%;
    width: 40%;
    background-color: $black-brighter;
    border-bottom: 2px solid $color-primary;
    z-index: 1000;
    transform: translateY(-100vh);
    transition: transform ease 1s;

    .menu-burger__search{
        input{
            background-color: $black-brightest;
            width: 100%;
            padding: 0.5em 4em;
            border: none;
            line-height: 1.5em;
            position: relative;
            color: $white;
        }

        svg{
            width: 1.2em;
            height: 1.2em;
            position: absolute;
            top: 0.5em;
            left: 2em;
        }
    }

    ul{
        margin: 0;

        li a{
            color: $white;
            width: 100%;
            display: inline-block;
            border-bottom: solid 1px $grey;
            padding: 0.5em 2em;
            box-sizing: border-box;
            display: inline-flex;
            justify-content: space-between;

            span{
                color: $color-primary;
            }
        }
    }

    p{
        color: $white-darkest;
        font-size: 0.8em;
    }

    .menu-burger_social-networks{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        padding: 0.5em 2em;

        svg{
            width: 1em;
            height: 1em;

            path{
                fill: $white-darkest;
            }
        }

        .social-networks-title{
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            margin-right: 1em;
        }

        .social-networks__element{
            border-radius: 50%;
            padding: 0.2em;
            border: 2px solid $white-darkest;
            width: 1em;
            height: 1em;
            margin: 0 0.3em;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-content: center;
        }

    }

    .menu-burger__contact{
        padding: 0.5em 2em;

        a{
            color: $white-darkest;
        }

        span{
            color: $color-primary;
        }
    }

    &:hover{
        cursor: pointer;
    }
    &.scrolled{  
        top: 84px;
    }
    &.open{  
        transform: translateY(0vh);
    }
}

/// BUTTON ///


button.burger {
    width: 2em;
    height: 2em;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 1em;

    &:focus{
      	outline: none;
    }
    &.burger3{
      	&:after, &:before, & span {
			width: 100%;
			height: 4px;
			border-radius: 100px;
			position: absolute;
			left: 0px;
			background: $white;
			transform: rotate(0deg);
			transition: all 0.4s;
      	}
		&:after, &:before {
			content: "";
		}
		&:after {
			top: 0px;
			margin-top: 0px;
		}
		&:before {
			bottom: 0px;
			margin-bottom: 0px;
		}
		span {
			top: 50%;
			margin-top: -2px;
		}
		&.on:after {
			transform: rotate(135deg) translate(9px, -9px);
		}
		&.on:before {
			transform: rotate(225deg);
			bottom: 50%;
			margin-bottom: -2px;
		}
		&.on span {
			transform: rotate(135deg);
		}
    }
}
