h1, h2, h3, h4, a, p, button, li, input{
    font-family: $font-stack;
    color: $font-color;
}
h2{
    font-size: 2.5em;
    line-height: 1.1em;
}
h3{
    font-size: 1.3em;
    line-height: 1.2em;
}
h4{
    font-size: 1.1em;
    line-height: 1.3em;
}
.caption-img p{
    color: $color-primary;
}
.text-author p{
    color:$grey ;
    font-weight: 600;
}

button,.caption-img p,.text-author p{
    font-size: 0.85em;
}

a{
    text-decoration: none;

    &:hover h2, &:hover h3, &:hover h4{
        color: $color-primary;
    }
}


