//typography
$font-stack: 'Roboto';
$font-color: hsl(210, 11%, 15%);

//colors

$color-primary: hsl(0, 100%, 40%);
$color-secondary: hsl(47, 100%, 50%);

$grey: hsl(0, 0%, 40%);
$black: hsl(0, 0%, 0%);
$black-brighter: hsl(0, 0%, 10%);
$black-brightest: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
$white-darker: hsl(0, 0%, 90%);
$white-darkest: hsl(0, 0%, 80%);